<!DOCTYPE html>
<html>
      <head>
            <meta charset="uft-8">
            <title>BMI Calculator</title>
            <style>
                  body{
                        background-color: rgb(151, 40, 77);
                        color: #fff;
                        text-align: center;
                        font-size: large;
                  }
                  h1 {
                        margin-top: 200px;
                  }
            </style>
      </head>
      
      <body>
            <h1>BMI Calculator</h1>
            <form action="/process-data" method="POST" class="mx-2 my-2">
                  Weight:
                  <input type="text" name="weight" id="weight" placeholder="In kilos" onchange="calculateBMI()"/>
                  Height:
                  <input type="text" name="height" id="height" placeholder="In meters" onchange="calculateBMI()"/>

                  <input type="submit" value="Submit"/><br><br>

                  <input type="hidden" id="result" name="BMI" />
                  <input type="hidden" id="conclusion" name="summary"/>

                  <p> 
                        BMI: <span id="BMI"></span> <br>
                        Summary: <span id="diagnosis"></span>
                  </p>
           
            </form>

            <script>
            function calculateBMI(){
                  var height = document.getElementById("height").value;
                  var weight = document.getElementById("weight").value;
                  var result = weight/(height*height);
                  var summary;

                  document.getElementById("result").value = result;
                
                  if (result <= 18.5){
                        summary = "Underweight";
                  } else if(result > 18.5 && result <= 24.9){
                        summary = "Normal weight";
                  } else if(result > 24.9 && result <= 29.9){
                        summary = "Overweight";
                  } else {
                        summary = "Obesity";
                  }

                  document.getElementById("conclusion").value = summary;
                  document.getElementById("diagnosis").innerHTML = summary;
                  document.getElementById("BMI").innerHTML = result;
            }

        </script>

    </body>

</html>