<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Results</title>
      <style>
            body{
                  background-color: darkslategrey;
                  color: lightgray;
                  text-align: center;
            }

            h2{
                  margin-top: 70px;
                  margin-bottom: 100px;
                  
            }
      </style>
</head>

<body>
      <h2>Successully recorded on Database!</h2>


      Weight: {{weight}} <br>
      Height: {{height}}  <br>
      BMI value: {{BMI}}  <br>
      Summary: {{Summary}}
      
</body>

</html>