name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  build:
  
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - uses: akhileshns/heroku-deploy@3.12.12

    with:
      heroku_api_key: ${{secrets.HEROKU_API_KEY}}
      heroku_app_name: "bmi-calculatorr"   #must be unique in Heroku
      heroku_email: "laurynsheri@gmail.com"

   

